.openlayers-tooltip {
  background-color: #222222;
  border: 1px solid #dedede;
  color: #fff;
  opacity: 0.75;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
}

.openlayers-tooltip-name {
  background-color: transparent;
  color: #fff;
  opacity: 1;
}

